.slider video {
  height: 350px;
  padding-right: 25px;
  border-radius: 65px;
}

.slider .slide_track {
  -webkit-animation: scroll 50s linear infinite;
  animation: scroll 50s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider2,
.slide_track2 {
  -webkit-animation: scroll 70s linear infinite;
  animation: scroll 70s linear infinite;
  animation-direction: alternate-reverse;
  display: flex;
  width: calc(250px * 14);
}
.slide:hover {
  animation-play-state: paused;
}
.carousel_item {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0 10px 20px -8px transparent;
  border-radius: 50px;
  padding: 12px 24px;
  margin: 10px;
}

.carousel_item:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
@keyframes scroll {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(calc(-250px * 20));
  }
}

/* mobile */
@media (max-width: 650px) {
  .slider video {
    height: 190px;
  }
}
