.carousel_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.carousel_card:hover {
  transform: scale(0.9);
  box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
    10px 10px 8px rgba(152, 133, 133, 0.392), 15px;
}

.carousel_card > img {
  height: 300px;
  width: 300px;
  border-radius: 10%;
}

.carousel_track {
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 16px;
  width: 200%;
  height: 100%;
  overflow: hidden;
}

.carousel_track {
  display: flex;
  position: relative;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 16px;
  width: calc(300px * 7);
  height: 100%;
  animation: slide 20s linear infinite;
  overflow: hidden;
}
.carousel_track:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    left: 50%;
  }
  100% {
    left: -50%;
  }
}
